* {
  font-family: 'Gowun Dodum', sans-serif;
}
html,
body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.mytitle {
  width: 100vw;
  box-sizing: border-box;
  height: 150px;

  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');
  background-position: center;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}

.titleBtns {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.titleBtns > button {
  margin-right: 10px;
}

.modal {
  width: 100%;
  height: 80%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  display: none;
  align-items: center;
}
.show-modal {
  display: block;
}
.form {
  background: white;
  border-radius: 5px;
  width: 30%;
  padding: 40px;
  text-align: left;
  font-size: 15px;
  margin: auto;
}
.form > button {
  margin-top: 5px;
}
.form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal-btn {
  margin-top: 5px;
}

label {
  display: inline;
}
.modal-input {
  width: 150px;
  font-size: 20px;
}

.show-box {
  display: block;
}

.firstBox {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  margin: 10px 10px 10px 10px;
}

.userInfoBox {
  margin-left: 3%;
}

.postBox {
  width: 90%;
  height: auto;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
.postBox > div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.postImgBox {
  margin-top: 10px;
  width: 70%;
  height: 50%;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 2.5% auto 2.5% 2.5%;
  padding-top: 2.5%;

  background-color: goldenrod;
}

.postBottomBox {
  margin-left: 10px;
}

.imgBox {
  background-color: greenyellow;
  width: 50px;
  height: 50px;

  border-radius: 10px;

  margin: 0% 5% 5px 5%;
}

.posts {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 3% auto auto auto;

  color: aliceblue;
  background-color: rgb(24, 34, 71);
}

.postsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: green;
  margin-top: 50px;
}

.posts {
  background-color: #f9ffff;
  box-shadow: 0px 0px 8px gray;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  margin: 20px;
}

.posts:hover {
  cursor: pointer;
}

.posts > img {
  width: 360px;
  height: 390px;
  border-radius: 30px;
  padding: 20px 20px 20px 20px;
}
